<div class="app-connect">
  <p>使用服务器的完整地址连接到服务器. 比如<strong>127.0.0.1:10578</strong>. 默认端口是 <strong>10578</strong>.所以输入127.0.0.1即可</p>
  <p style="color:rgb(247, 54, 54);">在完成新手教程逃离Helgen(海尔根)之前,不要连接任何服务器!</p>

  <input #input type="text" placeholder="服务器地址" (keydown.enter)="connect()" [(ngModel)]="address" spellcheck="false">
  <input type="text" placeholder="服务器密码(默认为空不用输入)" (keydown.enter)="connect()" [(ngModel)]="token" spellcheck="false">

  <app-popup-buttons>
    <button [disabled]="connecting" (click)="connect()" data-style-ornament="simple">连接</button>
    <button [disabled]="connecting" (click)="cancel()" data-style-ornament="simple">取消</button>
  </app-popup-buttons>
<hr>
  <button (click)="openServerList()" data-style-ornament="simple">公共服务器列表</button>
</div>
