<div id="notInParty" *ngIf="!group.isEnabled ; else inParty">
  <button class="party-menu-button" (click)="launchParty()" [disabled]="isLaunchPartyDisabled()">创建队伍</button>
  <button *ngFor="let player of invitees | keyvalue" class="party-menu-button"
    (click)="acceptPartyInvite(player.value.id)">接受来自 {{ player.value.name }} 的组队邀请</button>
  
  <hr class="solid">
  
  <p style="padding-top: 0.5rem; line-height: 1.3;">liangchen提示:为了获得最佳游戏体验,请牢记以下目前还没有过时的游玩技巧:</p>
  <ul>
    <li style="line-height: 1.3em; height: auto;">创建一个队伍,队长就像是"主机"</li>
    <li style="line-height: 1.3em; height: auto;">只有队长可以与任务npc对话来推进任务。</li>
    <li style="line-height: 1.3em; height: auto;">只有队长才能去拾取关键任务物品(龙石啥的)</li>
    <li style="line-height: 1.3em; height: auto;">建议在这场奇妙的联机之旅中,每次都保证你的队长是同一个人(不然就得同步任务进度再组队)</li>
    <li style="line-height: 1.3em; height: auto;">如果人少,建议服务器上只有一只队伍</li>
    <li style="line-height: 1.3em; height: auto;">等队长先进地图,队员后进,保证怪物是从队长同步的</li>
  </ul>
</div>

<ng-template #inParty>
  <div style="margin-bottom: 1.0rem;" id="noPlayers" *ngIf="getMembersLength === 0 ; else notEmpty">
    <span>你的队伍里还没有人,请邀请玩家加入</span>
  </div>

  <ng-template #notEmpty>
    <div class="containerList">
      <table cellspacing="5" cellpadding="5" class="playerListTable">
        <thead class="listHeader">
          <tr>
            <th></th>
            <th>名称</th>
            <th>位置</th>
            <th></th>
            <th></th>
            <!--<th></th>-->
          </tr>
        </thead>
        <tbody class="listBody">
          <tr *ngFor="let player of members | keyvalue">
            <td>{{ player.value.level }}</td>
            <td>{{ player.value.name }}</td>
            <td>{{ player.value.cellName }}</td>
            <td><button (click)="teleportToPlayer(player.value.id)" class="teleBtn">传送</button></td>
            <td><button (click)="kickMember(player.value.id)" [disabled]="!isPartyLeader" class="teleBtn"
                [ngClass]="!isPartyLeader ? 'hidden' : ''">踢出</button></td>
            <!--
            <td><button (click)="changeLeader(player.value.id)" [disabled]="!isPartyLeader" class="teleBtn"
                [ngClass]="!isPartyLeader ? 'hidden' : ''">Make
                leader</button></td>
            -->
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>

  <button class="party-menu-button btn" (click)="leave()">离开队伍</button>
</ng-template>